@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.sidenav {
    transition: .3s ease-in-out;
}

.btn:hover {
    background-color: #FF6EFE;
    border: none;
    color: #14122a;
    transition: .3s ease-in-out;
}

.earnings {
    background: url('./assets/mask.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5.5rem;
}